/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    padding: 0 20px;
  }
}
nav {
  border-bottom: 2px dashed #C0C0C0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
nav .logotype {
  font-size: 5rem;
  font-family: 'Indie Flower', cursive;
}
nav ul li {
  display: inline;
  font-size: 1.6rem;
}
nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 25px 5px 5px;
  color: inherit;
}
@media (max-width: 500px) {
  nav .container {
    flex-direction: column;
    padding: 20px 20px 5px;
  }
  nav .logotype h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
  }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    padding: 5px;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home header {
  border-bottom: 2px dashed #C0C0C0;
}
.home header .banner-img {
  width: 100%;
  margin-bottom: 20px;
}
.home header p {
  margin-bottom: 10px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .home .content-section .text-content,
  .home .content-section .img-content {
    width: 100%;
    padding-left: 0;
  }
  .home .content-section .img-content img {
    width: 100%;
  }
  .home .content-section.inverse-content div {
    padding-right: 0;
  }
  .home .content-section.inverse-content .img-content {
    order: 1;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.home .content-pick .destination .btn {
  background: #17A2B8;
  width: 82%;
  color: white;
  text-align: center;
  padding: 1.2rem;
  font-size: 1.8rem;
  border-radius: 1.5rem;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
  }
  .home .content-pick .destination {
    width: 75%;
    margin: 0 auto 30px;
  }
  .home .content-pick .destination .btn {
    background: #17A2B8;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1.2rem;
    font-size: 1.8rem;
    border-radius: 1.5rem;
  }
}
.home .contact-form {
  border-top: 2px dashed #C0C0C0;
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.home .contact-form > div {
  width: 50%;
}
.home .contact-form .cta {
  padding-right: 50px;
}
.home .contact-form .cta p {
  font-size: 2em;
}
.home .contact-form .form-row {
  margin-bottom: 20px;
}
.home .contact-form .form-row label {
  display: block;
  font-family: 'Indie Flower', cursive;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.home .contact-form .form-row input,
.home .contact-form .form-row select,
.home .contact-form .form-row textarea {
  width: 100%;
  padding: 0.8rem;
  border: 2px dashed #C0C0C0;
  font-size: 1.6rem;
  border-radius: 1.5rem;
}
.home .contact-form .form-row select {
  height: 4rem;
}
.home .contact-form .form-row button {
  background: #17A2B8;
  width: 100%;
  color: white;
  text-align: center;
  padding: 1.2rem;
  font-size: 1.8rem;
  border-radius: 1.5rem;
}
@media (max-width: 500px) {
  .home .contact-form {
    display: block;
    padding: 30px 0;
  }
  .home .contact-form > div {
    width: 100%;
  }
  .home .contact-form .cta {
    padding: 0;
  }
  .home .contact-form .cta p {
    font-size: initial;
  }
}
